

{% block content %}
  <h2>Carrito de Compras</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Precio</th>
        <th>Cantidad</th>
        <th>Total</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for product in cart.cartitem_set.all %}
  <tr>
    <td>{{ product.product.name }}</td>
    <td>{{ product.product.description }}</td>
    <td>${{ product.product.price }}</td>
    <td>
      <form method="POST" action="{% url 'update_cart' product.product.id %}">
      	{% csrf_token %}
      	<input type="number" name="quantity" value="{{ product.quantity }}">
      	<button type="submit">Actualizar</button>
      </form>
    </td>
    <td>${{ product.total_price }}</td>
    <td>
      <form method="POST" action="{% url 'remove_from_cart' product.product.id %}">
      	{% csrf_token %}
        <button type="submit">Eliminar</button>
      </form>
    </td>
  </tr>
{% endfor %}
            
    </tbody>
  </table>
  <div>
    <form method="post" action="{% url 'checkout' %}">
      {% csrf_token %}
      <button type="submit">Comprar</button>
  </form>
  </div>
{% endblock %}
